body{
	background: #eeeeee;
}

.conteudo {
	display: inline;
	position:fixed;
	top:60px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
}

.conteudo .cadastrar{
	display: inline;
	position:fixed;
	top:60px;
	bottom: 0px;
	left: 25%;
	right: 25%;
}

/*
.sidebar {
	display: block;
	position: fixed;
	top:50px;
	bottom: 0;
	left: 0;
	padding: 15px;
	overflow-x: auto;
	overflow-y: auto;
	background-color: #1abc9c;
	border-right: 1px solid #16a085;
	z-index: 1000;
}
*/

.navbar-estilo{
	background-color: #6d6e70;
	border-color: #db812d;
}
.navbar-inverse .navbar-brand{
	color: #db812d;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #db812d;
  background-color: transparent;
}

div#navbar {
	padding-right: 30px;
	font-size: 16px;
}

#nav-img{
	margin-top: -15px;
}

.form-horizontal .form-group {
    border-bottom: 1px solid #eff2f7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.form-horizontal .form-group:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.panel .panel-heading{
	text-align: center;
}

.botao-index{
	width: 100%;
	height:100px;
	line-height: 78px;
	font-size: 28px;
}

.btn_sub{
	text-align: center;
}

#btn_cadastro{
	width: 50%;
}

.op{
	margin-left: 15px;
	margin-right: 15px;
}

.footer{
	text-align: center;
	line-height: 35px;
}